@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #73cec4;
  font: normal 100%/1.5 'Poppins', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Galada', cursive;
  text-align: center;
  margin: 10px 0 0;
  font-size: 2.5em;
  line-height: 1.2;
}

body {
  margin: 0;
}

.logo {
  width: 60px;
  height: auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.logo-circle {
  text-align: center;
  position: relative;
  line-height: 60px;
  font-weight: 600;
}

.slogan-1 {
  padding-right: 35px;
  display: inline-block;
  text-align: right;
  width: 49%;
}

.slogan-2 {
  padding-left: 35px;
  display: inline-block;
  width: 49%;
  text-align: left;
}

p {
  margin: 0;
}

nav {
  background-color: #fff;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  border:#4e4e4e 1px solid;
}

nav a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 20px;
  border:#4e4e4e 1px solid;
}

ul a:hover {
  color: #fff;
  background-color: #4e4e4e;
}

.main-photo {
  display: block;
  width: 100%;
}

h2 {
  font-family: 'Galada', cursive;
  font-size: 2em;
  margin: 5px;
  text-align: center;
  line-height: 1.25;
}

.link-card-1 {
  padding: 0;
  margin: 0 10px 10px;
  width: 40%;
  display: inline-block;
  position: relative;
  height: auto;
}

.link-card-content {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.link-card-1 img {
  width: 100%;
}

.link-card-1 h3 {
  background-color: rgba(0, 0, 0, .3);
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.link-card-1 h3:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
}

.our-bonbons {
  text-align: center;
}

.link-card-2 {

}
