@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/* Overall Styling */

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #73cec4;
  font: normal 100%/1.3 Poppins, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Title Styling */

h1 {
  font-family: Galada, cursive;
  text-align: center;
  margin: 10px 0 0;
  font-size: 2.5em;
  line-height: 1.2;
}

body {
  margin: 0;
}

/* Slogan Styling */

.logo {
  width: 60px;
  height: auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.logo-circle {
  text-align: center;
  position: relative;
  line-height: 60px;
  font-weight: 600;
}

.slogan-1 {
  padding-right: 35px;
  display: inline-block;
  text-align: right;
  width: 49%;
}

.slogan-2 {
  padding-left: 35px;
  display: inline-block;
  width: 49%;
  text-align: left;
}

/* Navigation Styling */

p {
  margin: 0;
}

nav {
  background-color: #fff;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  border: #4e4e4e 1px solid;
}

nav a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 20px;
  border: #4e4e4e 1px solid;
}

ul a:hover {
  color: #fff;
  background-color: #4e4e4e;
}

/* Bonbons Styling */

.main-photo {
  display: block;
  width: 100%;
}

figcaption {
  padding: 10px;
  background-color: #9f9f9f;
  border-bottom: #4e4e4e 1px solid;
  font-style: italic;
  text-align: center;
  font-size: .8rem;
}

figure {
  margin: 0;
  max-width: 800px;
}

.image-wrap {
  text-align: center;
}

h2 {
  font-family: Galada, cursive;
  font-size: 2em;
  margin: 10px 0 0;
  padding: 5px;
  text-align: center;
  line-height: 1.25;
}

.link-card-1 {
  padding: 0;
  margin: 0 10px 10px;
  width: 40%;
  display: inline-block;
  position: relative;
  height: auto;
}

.link-card-content {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.link-card-1 img {
  width: 100%;
}

.link-card-1 h3 {
  background-color: rgba(0, 0, 0, .3);
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  text-align: center;
  width: 100%;
  line-height: 1.75;
}

.blog-entry-content h3 {
  font-size: .77rem;
  margin: 0;
}

.link-card-1 h3:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
}

.our-bonbons {
  text-align: center;
}

/* Locations Styling */

.locations-title {
  background-color: #9f9f9f;
  margin: 0;
  border-top: #4e4e4e 1px solid;
}

.link-card-2 img {
  width: 50%;
  display: inline-block;
  height: 100%;
}

.link-card-2-content {
  width: 48%;
  display: inline-block;
  font-size: .9rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.link-card-2 {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px;
  background-color: #fff;
  border: #4e4e4e 1px solid;
  overflow: hidden;
  position: relative;
  line-height: 1.3;
}

.link-card-2-content p {
  padding: 10px;
}

.link-card-2:last-child {
  border-top: none;
}

.image-1 {
  float: left;
}

.image-2 {
  float: right;
}

section {
  clear: both;
}

/* Button Styling */

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #9f9f9f;
  border-radius: 8px;
  border: 3px solid #9f9f9f;
  color: #000;
  text-decoration: none;
  margin: 5px 10px;
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
}

.btn:hover {
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  color: #fff;
}

/* Hours Styling */

.link-card-3 img {
  width: 70%;
  padding: 1rem;
}

.hours {
  text-align: center;
}

.hours-content h2 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.hours-content p {
  color: #000;
  margin: 1rem 4rem;
}

.link-card-3 {
  text-decoration: none;
  display: block;
}

.hours-content {
  display: block;
  text-align: center;
}

.btn-big {
  font-size: 1.5rem;
}

/* Blog Styling */

.blog-title {
  background-color: #9f9f9f;
  margin: 0;
  border: #4e4e4e 1px solid;
  border-left: none;
  border-right: none;
}

.blog-entry img {
  width: 20%;
  float: left;
  margin-left: .4rem;
}

.blog-entry {
  display: block;
  text-decoration: none;
  color: #000;
  padding: .4em .3em;
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: #fff;
  margin: 15px;
  overflow: hidden;
  width: 91%;
}

.blog-entry-content {
  padding-left: 27%;
  transform: translateY(40%);
}

time {
  display: inline;
}

span {
  font-size: .75em;
}

cite {
  font-style: normal;
}

.blog p {
  padding: 1em 1em 0;
}

.blog-entry:hover {
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  color: #fff;
}

footer {
  background-color: #9f9f9f;
  margin: 0;
  border: #4e4e4e 1px solid;
  border-left: none;
  border-right: none;
  padding: .3rem 1rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  /* Header Styling */

  .logo-circle p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3em;
    padding: 1rem 0 0;
    margin-bottom: 0;
  }

  /* Nav Styling */

  nav li {
    display: inline-block;
    width: 50%;
    margin: 0;
    float: left;
    background-color: #fff;
  }

  header {
    overflow: hidden;
  }

  nav {
    margin-bottom: 30px;
    height: 75px;
  }

  ul {
    overflow: hidden;
  }

  /* Bonbons Styling */

  h2 {
    font-size: 2.25rem;
  }

  .link-card-content h3 {
    line-height: 1.5;
    padding: .2rem;
  }

  figcaption {
    font-size: 1.1rem;
  }

  /* Location Styling */

  .link-card-2-content {
    font-size: 1.2rem;
  }

  .link-card-2-content h3 {
    font-size: 1.2rem;
    margin-top: 30px;
  }

  .link-card-2 img {
    margin: 20px;
    max-width: 150px;
  }

  .link-card-2 {
    width: 100%;
  }

  .image-1 {
    margin-right: 15px;
  }
  /* Hours Styling */

  .link-card-3 {
    overflow: hidden;
    position: relative;
  }

  .link-card-3 img {
    float: left;
    width: 50%;
    padding: 30px;
  }

  .hours-content {
    float: left;
    width: 49%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
  }

  .hours-content p {
    margin: 15px;
  }

  /* Blog Styling */

  .blog-entry img {
    width: 30%;
    padding: 15px;
  }

  .blog-entry-content {
    font-size: 1.5rem;
    transform: translateY(25%);
  }

  .blog-entry-content h3 {
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 32em) {

  .our-locations {
    text-align: center;
  }

  .locations-title {
    border-bottom: #4e4e4e 1px solid;
    width: 100%;
    display: block;
  }

  .image-1 {
    margin: 0;
    float: none;
  }

  .image-2 {
    float: none;
  }

  .link-card-2 {
    display: inline-block;
    position: relative;
    width: 46%;
    margin: 20px 5px 20px 0;
    text-align: center;
    border: none;
    border-radius: 8px;
  }

  .link-card-2 img {
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    max-height: 200px;
    display: block;
  }

  .link-card-2-content {
    width: auto;
    position: relative;
    transform: none;
    overflow: hidden;
    padding-top: 200px;
  }


  .link-card-2-content p {
    height: 100px;
  }

  /* Blog Styling */

  .blog p {
    font-size: 1.1em;
    margin: 0 1rem;
  }

  .blog-entry-content {
    padding-top: 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  /* Header Styling */

  h1 {
    font-size: 4rem;
  }

  .logo-circle {
    line-height: 100px;
  }

  .logo {
    width: 100px;
  }

  .slogan-1 {
    padding-right: 50px;
  }

  .slogan-2 {
    padding-left: 50px;
  }

  /* Nav Styling */

  nav li {
    width: 25%;
    overflow: hidden;
  }

  nav {
    height: 46px;
  }

  ul {
    text-align: center;
  }

  /* Bonbons Styling */

  .main-photo {
    display: block;
  }

  figure {
    text-align: center;
    position: relative;
  }

  figcaption {
    border-bottom: #4e4e4e 1px solid;
    font-style: italic;
    text-align: center;
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 380px;
    border: none;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1.3rem;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
  }

  /* Bonbon Square Styling */

  .link-card-1 {
    margin: 0 1px 30px;
    width: 23%;

  }

  .link-card-1 h3 {
    font-size: 1.25rem;
  }

  /* Hours Styling */

  .btn-big {
    font-size: 1.8rem;
  }

  .hours-content p {
    font-size: 1.1rem;
  }

  /* Blog Styling */

  .blog-entry-content {
    transform: translateY(50%);
    width:100%;
  }

}

@media only screen and (min-width: 50em) {

  figcaption {
    font-size: 2rem;
    width: 60%;
  }

  .link-card-3 img {
    max-height: 380px;
    padding: 40px;
  }

  /* Blog Styling */

  .blog-entry {
    position: relative;
    width: 40%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
  }

  .blog-entry img {
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    max-height: 200px;
    display: block;
    float: none;
    }

  .blog-entry-content {
    width: auto;
    position: relative;
    transform: none;
    padding-top: 200px;
    padding-left: 0;
    margin: 20px;
  }

  .blog {
    text-align: center;
  }


}

/*

.blog-title {
  background-color: #9f9f9f;
  margin: 0;
  border: #4e4e4e 1px solid;
  border-left: none;
  border-right: none;
}

.blog-entry img {
  width: 20%;
  float: left;
  margin-left: .4rem;
}

.blog-entry {
  display: block;
  text-decoration: none;
  color: #000;
  padding: .4em .3em;
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: #fff;
  margin: 15px;
  overflow: hidden;
  width: 91%;
}

.blog-entry-content {
  padding-left: 27%;
  transform: translateY(40%);
}

time {
  display: inline;
}

span {
  font-size: .75em;
}

cite {
  font-style: normal;
}

.blog p {
  padding: 1em 1em 0;
}

.blog-entry:hover {
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  color: #fff;
}

footer {
  background-color: #9f9f9f;
  margin: 0;
  border: #4e4e4e 1px solid;
  border-left: none;
  border-right: none;
  padding: .3rem 1rem;
}

*/
}

@@media only screen and (min-width:60em) {



}
